{
  "parser": "babel-eslint",
  "extends": [
    "./node_modules/eslint-config-hackreactor/index.js",
    "plugin:react/recommended",
    "airbnb"
  ],
  "ecmaVersion": 6,
  "plugins": [
    "react",
    "react-native",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": 0,
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
  },
  "globals": {
    "fetch": true,
    "navigator": true,
  },
}
